/* 2 - Media query */

h1{
    color: red;
}

@media screen and (max-width: 500px){
    h1{
        color: blue;
    }
}

/* 3 - Min width */
p{
    background-color: red;
    color: black;
}

@media screen and (min-width: 800px){
    p{
        background-color: blue;
        color: white;
    }
}

/* 4 - Landscape */
h3{
    display: none;
}

@media screen and (orientation: landscape) and(max-width: 500px){
    h3{
        display: block;
    }
}